---
layout: default
page_title: Social Plant Market - Blossm
page_desc: Social Plant Marketplace App
---

<!--Top Page-->
<header class="masthead blossm_secondary_color header-background-plant text-center text-white"/>
    <div class="container d-flex my-auto align-items-center flex-row">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar-iphone hidden-mobile" src="assets/img/ios-screenshots/ios-home-high-res.webp" width="120" alt="">
        <!-- Masthead Heading-->
        <div class="container d-flex align-items-center flex-column" style="max-width: 500px">

            <div class="col-sm pt-2">
                <img class="img shadow-lg" style="border-radius: 1.25rem" width="120" height="120"
                     src="{{ site.app_icon }}" alt="Blossm"/>
            </div>
            <h1 class="masthead-heading header-text-color pt-4">{{site.app_name_short}}</h1>

            <div class="divider-custom hidden-mobile">
                <div class="divider-custom-line"></div>
            </div>
            <div class="divider-custom divider-light hidden-web">
                <div class="divider-custom-line"></div>
            </div>
            <h1 class="masthead-subheading header-text-color">{{site.app_description}}</h1>
            <div class="row my-3 pl-2 align-items-center">
                <a class="cols pr-2 shadow-lg" href="{{site.appstore_link}}" aria-label="Download on the App Store.">
                    <img class="appStore"
                         src="/assets/img/appstore.png" width="190" height="64" alt="iOS">
                </a>
                <a class="cols px-lg-2 my-1 shadow-lg" href="{{site.playstore_link}}"
                   aria-label="Get it on Google Play.">
                    <img class="playStore"
                         src="/assets/img/playstore.png" width="220" height="64"
                         alt="Android">
                </a>
            </div>
        </div>
    </div>
</header>
<!-- Icons Grid (hidden on desktop)-->
<section class="features-icons bg-light text-center hidden-web">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-search m-auto text-primary"></i></div>
                    <h1>{{site.browse_plants}}</h1>
                    <p class="lead mb-0">{{site.browse_plants_description}}</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-currency-dollar m-auto text-primary"></i></div>
                    <h1>{{site.buy_sell_swap}}</h1>
                    <p class="lead mb-0">{{site.buy_sell_swap_description}}</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-people-fill m-auto text-primary"></i></div>
                    <h1>{{site.socialize}}</h1>
                    <p class="lead mb-0">{{site.socialize_description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- How it Works (hidden on mobile)-->
<section class="py-2 hidden-mobile bg-light how-it-works-background-1" id="home" >
    <div class="text-center mt-5">
        <h2 class="page-section-heading text-secondary d-inline-block mb-0">HOW IT WORKS</h2>
    </div>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-seedling"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="container my-5 shadow-lg card-background-1 " style="border-radius: 1.25rem">
        <div class="row ml-lg-5 gx-4 gx-lg-5 align-items-center flex-row">
            <div class="col-sm-4">
                <img class="card-img-top" src="assets/img/ios-screenshots/ios-map-high-res.webp" alt="..."/>
            </div>
            <div class="col-sm-4 flex-column" style="border-radius: 1.25rem">
                <h2 class="display-4 lh-1 mb-4">{{ site.browse_plants }}</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">{{ site.browse_plants_description}} </p>
            </div>
        </div>
    </div>
</section>
<section class="py-2 bg-light hidden-mobile how-it-works-background-2">
    <div class="container my-5 bg-gray-light shadow-lg card-background-2" style="border-radius: 1.25rem">
        <div class="row ml-lg-5 gx-4 gx-lg-5 align-items-center">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4 ">
                <h2 class="display-4 lh-1 mb-4">{{ site.buy_sell_swap }}</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">{{ site.buy_sell_swap_description}} </p>
            </div>
            <div class="col-sm-4">
                <img class="card-img-top" src="assets/img/ios-screenshots/ios-item-final.webp" alt="..."/>
            </div>

        </div>
    </div>
</section>
<section class="py-2 bg-light hidden-mobile how-it-works-background-3">
    <div class="container my-5 shadow-lg card-background-3" style="border-radius: 1.25rem">
        <div class="row ml-lg-5 gx-4 gx-lg-5 align-items-center">
            <div class="col-sm-4">
                <img class="card-img " src="assets/img/ios-screenshots/ios-community-high-res.webp" alt="..."/>
            </div>
            <div class="col-sm-4">
                <h2 class="display-4 lh-1 mb-4">{{ site.socialize }}</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">{{ site.socialize_description}} </p>
            </div>
        </div>
    </div>
</section>

<!-- OUR MISSION -->
<section class="page-section blossm_secondary_color text-white mb-0 " id="about">
    <div class="container">
        <!-- About Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading d-inline-block text-white">OUR MISSION</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-seedling"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="text-center">
            <div class="p">
                <p class="pre-wrap lead text-mid-size">{{site.mission}}
                </p>
            </div>
        </div>
    </div>
</section>

</section>