---
layout: default
---

<!-- Team-->
<header class="masthead blossm_secondary_color text-center text-white rounded-bottom"
        style="
        /*background-image: url('https://drive.google.com/uc?export=view&id=1M03DMN0Cadbd22I7c93CW7k8GGBvTwyC');*/
        background-size: cover;
        background-repeat: no-repeat;">
    <div class="container">
        <!-- Contact Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading text-white d-inline-block mb-0">OUR BLOSSM'ING TEAM</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-seedling"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/nick-headshot.png" alt="..."/>
                    <h4>Nick Mitchell</h4>
                    <p class="text-muted"></p>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/brian-headshot.jpg" alt="..."/>
                    <h4>Brian Feretic</h4>
                    <p class="text-muted"></p>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/calvin-headshot.jpg" alt="..."/>
                    <h4>Calvin Mitchell</h4>
                    <p class="text-muted"></p>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-light">{{site.team_description}}</p></div>
        </div>
    </div>
</header>
<!--Contact Section-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary d-inline-block mb-0">CONTACT</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-seedling"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Content-->
        <div class="row justify-content-center">
<!--            <div class="col-lg-4">-->
<!--                <div class="d-flex flex-column align-items-center">-->
<!--                    <div class="icon-contact mb-3 blossm_secondary_color"><i class="fas fa-mobile-alt"></i></div>-->
<!--                    <div class="text-muted">Phone</div>-->
<!--                    <div class="lead font-weight-bold">(555) 555-5555</div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="col-lg-4">
                <div class="d-flex flex-column align-items-center">
                    <div class="icon-contact mb-3 blossm_secondary_color"><i class="far fa-envelope"></i></div>
                    <div class="text-muted">Email</div>
                    <a class="lead font-weight-bold" href="mailto:name@example.com">info@blossm.garden</a>
                </div>
            </div>
        </div>
    </div>
</section>