<!-- Icons Grid (hidden on desktop)-->
<section class="features-icons bg-light text-center hidden-web">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-search m-auto text-primary"></i></div>
                    <h1>{{site.browse_plants}}</h1>
                    <p class="lead mb-0">{{site.browse_plants_description}}</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-currency-dollar m-auto text-primary"></i></div>
                    <h1>{{site.buy_sell_swap}}</h1>
                    <p class="lead mb-0">{{site.buy_sell_swap_description}}</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-people-fill m-auto text-primary"></i></div>
                    <h1>{{site.socialize}}</h1>
                    <p class="lead mb-0">{{site.socialize_description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>