<!-- OUR MISSION -->
<section class="page-section blossm_secondary_color text-white mb-0 " id="about">
    <div class="container">
        <!-- About Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading d-inline-block text-white">OUR MISSION</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-seedling"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="text-center">
            <div class="p">
                <p class="pre-wrap lead text-mid-size">{{site.mission}}
                </p>
            </div>
        </div>
    </div>
</section>